## 빅데이터 실습

### 스타벅스 입지 분석

#### 데이터 수집

##### 데이터 전처리 마무리

In [3]:
## 필요 라이브러리 사용등록
import pandas as pd

In [5]:
# 스타벅스 서울시 매장정보 로드
dfStarbucksSeoul = pd.read_excel('./data/starbucks_seoul_list.xlsx')
dfStarbucksSeoul

,매장명,위도,경도,매장타입,주소,전화번호
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),1522-3232
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),1522-3232
2,신사역성일빌딩,37.513931,127.020606,general,서울특별시 강남구 강남대로 584 (논현동),1522-3232
3,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232
4,대치재경빌딩,37.494668,127.062583,general,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232
...,...,...,...,...,...,...
608,사가정역,37.579594,127.087966,general,서울특별시 중랑구 면목로 310,1522-3232
609,상봉역,37.596890,127.086470,general,서울특별시 중랑구 망우로 307 (상봉동),1522-3232
610,묵동,37.615368,127.076633,general,"서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층",1522-3232
611,양원역,37.606654,127.106360,general,서울특별시 중랑구 양원역로10길 3 (망우동),1522-3232
612,중화역,37.601709,127.078411,general,서울특별시 중랑구 봉화산로 35 1층,1522-3232

In [9]:
# 주소를 ' '로 자른다음(배열) 1번째 인덱스 값이 구
guName = []
for address in dfStarbucksSeoul['주소']:
  addr = address.split(' ')
  guName.append(addr[1])

dfStarbucksSeoul['구'] = guName

In [11]:
dfStarbucksSeoul.tail()

,매장명,위도,경도,매장타입,주소,전화번호,구
608,사가정역,37.579594,127.087966,general,서울특별시 중랑구 면목로 310,1522-3232,중랑구
609,상봉역,37.596890,127.086470,general,서울특별시 중랑구 망우로 307 (상봉동),1522-3232,중랑구
610,묵동,37.615368,127.076633,general,"서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층",1522-3232,중랑구
611,양원역,37.606654,127.106360,general,서울특별시 중랑구 양원역로10길 3 (망우동),1522-3232,중랑구
612,중화역,37.601709,127.078411,general,서울특별시 중랑구 봉화산로 35 1층,1522-3232,중랑구

In [13]:
dfStarbucksSeoul.to_excel('./data/최종_서울_스타벅스매장리스트.xlsx', index=False)

In [15]:
# 스타벅스 분석 데이터 만들기
dfSeoulGu = pd.read_excel('./data/수정_서울_시군구_위경도.xlsx')
dfSeoulGu.tail()

   docity  do city   longitude   latitude
20  서울용산구  서울  용산구  126.967522  37.536094
21  서울은평구  서울  은평구  126.931242  37.599969
22  서울종로구  서울  종로구  126.981642  37.570378
23   서울중구  서울   중구  126.999642  37.561003
24  서울중랑구  서울  중랑구  127.094778  37.603806

In [19]:
dfSeoulGuLast = dfSeoulGu[['do','city','latitude','longitude']]

In [20]:
#각 컬럼의 영어이름을 한글이름으로 변경
dfSeoulGuLast.columns = ['시','구','위도','경도']

In [21]:
dfSeoulGuLast.tail()

     시    구         위도          경도
20  서울  용산구  37.536094  126.967522
21  서울  은평구  37.599969  126.931242
22  서울  종로구  37.570378  126.981642
23  서울   중구  37.561003  126.999642
24  서울  중랑구  37.603806  127.094778